---
import Layout from '../../layouts/Layout.astro';
import Rank from '@/icons/Rank.astro';
import { SongBar } from '@/components/songBar';
import { getTimeSong } from '@/components/ui/searchBar';
import Footer from '@/components/blocks/Footer.astro';
import Back from '@/icons/Back.astro';
import Home from '@/icons/Home.astro';
import { CardPlayButton } from '@/components/buttons/CardPlayButton';
import { Skeleton } from '@/components/ui/skeleton';

const { id } = Astro.params;
//console.log(id);
const { cookies, redirect } = Astro;
const url = Astro.url.origin;

const accessToken = cookies.get('sb-access-token') ? true : false;
const refreshToken = cookies.get('sb-refresh-token') ? true : false;
//console.log(accessToken, refreshToken);

const sessionReq = await fetch(`${url}/api/getSession`);
//console.log(`${url}/api/music/getMusicInfo?song=${id}`);
const dataSongReq = await fetch(`${url}/api/music/getTrack?id=${id}`);
const dataSong = await dataSongReq.json();
//console.log('data song', dataSong);
const titleSong = dataSong.title;
//console.log(dataSongDezz);

const artists = dataSong.contributors
    .map((artist: any) => artist.name)
    .join(', ');
//console.log(artists);
const artistImg = dataSong.artist.picture;
const albumImg = dataSong.album.cover_xl;
const artistLink = dataSong.artist.link;
const trackLink = dataSong.link;
const thumbnail = dataSong.album.cover_xl;
const rank = dataSong.rank;
const songSrc = dataSong.preview;

const duration = dataSong.duration;

const artistsData = dataSong.contributors;
//console.log(artistsData);

async function getTrackArtist(artist: any) {
    const req = await fetch(`${url}/api/music/getTracksArtist?id=${artist.id}`);
    const data = await req.json();
    return data;
}

const tracksArtist = await Promise.all(
    dataSong.contributors.map((artist: any) => getTrackArtist(artist))
);

let blurBG = true;

//console.log(songSrc, id);

//console.log(tracksArtist);

//console.log(tracksArtist);

//console.log(sessionReq);

//console.log(dataSong);
//console.log(dataSong.items[0].snippet.thumbnails.maxres.url);
---

<Layout title="Spotify Clone">
    <div
        id="playlist-container"
        class="relative flex flex-col bg-zinc-900 w-full h-full">
        <div
            class="fixed right-0 md:lg:top-4 top-0 md:lg:right-4 flex w-full md:lg:w-fit z-[9999999] justify-center md:lg:justify-normal md:lg:pr-6 pr-0">
            <div
                class="w-full h-full flex bg-gray-800 bg-opacity-50 z-[999999] md:lg:bg-opacity-0 py-4 justify-center md:lg:justify-between gap-4">
                <a
                    href="/"
                    class="m-auto w-12 h-12 rounded-full bg-zinc-900 hover:bg-zinc-800 transition-all duration-200 flex justify-center items-center z-[9999999999]">
                    <Back />
                </a>
                <a
                    href="/"
                    class="m-auto w-12 h-12 rounded-full bg-zinc-900 hover:bg-zinc-800 transition-all duration-200 flex justify-center items-center text-white">
                    <Home />
                </a>
            </div>
        </div>
        <header
            class="flex flex-row gap-4 pt-14 md:lg:pt-4 z-10 w-full min-h-full px-6">
            <div class="md:lg:flex block w-full md:lg:mb-0 mt-8">
                <picture
                    class="aspect-square md:lg:w-72 w-36 h-auto flex-none shadow-2xl">
                    <section class="rounded-md overflow-hidden">
                        <img
                            src={thumbnail}
                            class="object-cover w-full h-full rounded-md transition-all duration-500 hover:scale-110"
                            draggable="false"
                            alt="Album cover"
                            loading="lazy"
                            transition:name={`playlist ${id} image`}
                        />
                    </section>
                </picture>
                <div
                    class="flex flex-col gap-2 pt-12 h-full md:lg:h-full sm:mx-4 mx-0 md:lg:mt-0">
                    <section class="flex items-center flex-col">
                        <h2 class="self-start hidden md:lg:block text-2xl">
                            Canción
                        </h2>
                        <a
                            href={trackLink}
                            target="_blank"
                            class="text-center md:lg:text-start w-full">
                            <h1
                                class="md:lg:text-6xl w-fit text-6xl font-bold flex mx-auto md:lg:mx-0 text-white md:lg:hover:border-b-white border-b-2 border-b-transparent transition-all duration-200">
                                {titleSong}
                            </h1>
                        </a>
                    </section>

                    <div
                        class="text-sm text-gray-300 font-normal flex justify-center md:lg:justify-start w-full"
                        transition:name={`playlist ${id} artists`}>
                        <div class="text-xl font-thin block text-white w-full">
                            <div
                                class="flex h-10 items-center gap-2 justify-center md:lg:w-fit sm:w-full py-4">
                                <img
                                    src={artistImg}
                                    alt=""
                                    class="w-10 h-10 rounded-full shadow-md hidden md:lg:block"
                                />
                                <span
                                    class="items-center justify-center w-full flex gap-2 my-4">
                                    <p
                                        class="md:lg:font-[400] text-white md:lg:text-xl text-xl font-bold flex justify-center w-full text-center">
                                        {artists}
                                    </p>
                                </span>
                            </div>
                            <div
                                class="flex gap-4 w-fit md:lg:justify-start justify-center items-center py-4 font-medium mx-auto md:lg:mx-0">
                                <p
                                    class="bg-green-400 text-white rounded-full flex justify-center w-fit md:lg:w-[70%] bg-opacity-50 p-2 px-4">
                                    {getTimeSong(duration)}
                                </p>
                                <p
                                    class="bg-green-400 text-white rounded-full flex justify-center w-fit md:lg:w-[70%] bg-opacity-50 gap-1 p-2 px-3">
                                    <Rank />{rank}
                                </p>
                                <CardPlayButton client:load />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img
                src={albumImg}
                class={`absolute object-cover w-full h-[100dvh] shadow-lg -z-10 top-0 right-0 opacity-20 object-center ${blurBG ? 'filter blur-[3px]' : ''}`}
                draggable="false"
                alt="Album cover"
                loading="lazy"
                style="mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 100%);"
            />
        </header>

        <div
            class="lg:w-[80%] md:sm:w-full h-max md:lg:flex sm:block flex-col md:lg:flex-row md:lg:gap-8 flex-wrap justify-center px-6">
            {
                artistsData.map((artist: any, _: any) => (
                    <div class="md:lg:w-[49%] sm:w-full h-auto flex-grow mt-6">
                        <div class="w-full h-full bg-opacity-50 bg-slate-500 rounded-xl flex flex-col relative group overflow-hidden ">
                            {
                                <img
                                    src={artist.picture_xl}
                                    alt="Artist Image"
                                    draggable="false"
                                    class="absolute object-cover z-10 w-full h-full shadow-lg top-0 right-0 opacity-50 group-hover:opacity-60 grayscale group-hover:grayscale-0 object-center rounded-xl transition-all duration-1000 transform group-hover:scale-110"
                                />
                            }
                            <div class="ml-6 my-6 h-full">
                                <p class="relative z-10 font-bold md:lg:text-5xl text-4xl">
                                    <a
                                        href={artist.share}
                                        target="_blank"
                                        class="hover:border-b-2 hover:border-b-white border-b-2  border-b-transparent transition-all duration-200 font-[600] text-white">
                                        {artist.name}
                                    </a>
                                </p>

                                <section class="w-full my-8 flex flex-col gap-8 relative overflow-auto max-h-[calc(60vh-200px)] z-20">
                                    {tracksArtist.map((trackGroup) =>
                                        trackGroup.map(
                                            (track: any) => (
                                                console.log(track),
                                                (
                                                    <div
                                                        id={track.id}
                                                        class="w-full flex gap-4 items-center h-auto group">
                                                        <section class="md:lg:w-[10%] w-[30%] h-full overflow-hidden rounded-md track-image">
                                                            <a
                                                                href={`/song/${track.id}`}
                                                                class="rounded-md">
                                                                <img
                                                                    src={
                                                                        track
                                                                            .album
                                                                            .cover_medium
                                                                    }
                                                                    draggable="false"
                                                                    class="rounded-md shadow-md h-full w-full object-cover transition-transform duration-300 group-hover:scale-110"
                                                                />
                                                            </a>
                                                        </section>
                                                        <section class="w-[70%] md:lg:w-[80%] h-full justify-center flex gap-2 flex-col relative overflow-hidden">
                                                            <a
                                                                href={`/song/${track.id}`}
                                                                class="w-fit md:lg:text-4xl text-xl font-bold z-30 hover:border-b-2 hover:border-b-white border-b-2  border-b-transparent transition-all duration-200">
                                                                {track.title}
                                                            </a>
                                                            <p class="flex flex-row w-full gap-4 truncate">
                                                                {
                                                                    track.artist
                                                                        .name
                                                                }
                                                                <span class="font-semibold">
                                                                    {getTimeSong(
                                                                        track.duration
                                                                    )}
                                                                </span>
                                                            </p>
                                                        </section>
                                                    </div>
                                                )
                                            )
                                        )
                                    )}
                                </section>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
        <div class="fixed bottom-0 z-[9999999] w-full">
            <SongBar
                client:load
                transition:name="media-player"
                transition:persist
                song={songSrc}
                preview_image={thumbnail}
                title={titleSong}
                artist={artists}
            />
        </div>

        <Footer />
    </div>
</Layout>
