---
import MusicsTable from '@/components/MusicsTable.astro';
import Layout from '../../layouts/Layout.astro';
import { CardPlayButton } from '@/components/buttons/CardPlayButton';
import { CardRemoveButton } from '@/components/CardRemoveButton';
import Rank from '@/icons/Rank.astro';
import { getTimeSong } from '@/components/searchBar';
import songTrack from '@/components/song/songTrack.astro';
import { NeonGradientCard } from '@/components/magicui/neon-gradient-card';
import Footer from '@/components/blocks/Footer.astro';

import { allPlaylists, songs } from '@/lib/data';
import Back from '@/icons/Back.astro';
import Home from '@/icons/Home.astro';
const { id } = Astro.params;
//console.log(id);
const { cookies, redirect } = Astro;
const url = Astro.url.origin;

const accessToken = cookies.get('sb-access-token') ? true : false;
const refreshToken = cookies.get('sb-refresh-token') ? true : false;
//console.log(accessToken, refreshToken);

const sessionReq = await fetch(`${url}/api/getSession`);
const session = await sessionReq.json();
//console.log(`${url}/api/music/getMusicInfo?song=${id}`);
const dataSongReq = await fetch(`${url}/api/music/getTrack?id=${id}`);
const dataSong = await dataSongReq.json();
//console.log('data song', dataSong);
const titleSong = dataSong.title;
import BlurIn from '@/components/magicui/blur-in';
//console.log(dataSongDezz);

const artists = dataSong.contributors
    .map((artist: any) => artist.name)
    .join(', ');

//console.log(artists);
const artistImg = dataSong.artist.picture;
const albumImg = dataSong.album.cover_xl;
const artistLink = dataSong.artist.link;
const trackLink = dataSong.link;
const thumbnail = dataSong.album.cover_xl;
const rank = dataSong.rank;

const duration = dataSong.duration;

const artistsData = dataSong.contributors;
//console.log(artistsData);

async function getTrackArtist(artist: any) {
    const req = await fetch(`${url}/api/music/getTracksArtist?id=${artist.id}`);
    const data = await req.json();
    return data;
}

const tracksArtist = await Promise.all(
    dataSong.contributors.map((artist: any) => getTrackArtist(artist))
);

//console.log(tracksArtist);

//console.log(tracksArtist);

//console.log(sessionReq);

//console.log(dataSong);
//console.log(dataSong.items[0].snippet.thumbnails.maxres.url);
---

<Layout title="Spotify Clone">
    <div
        id="playlist-container"
        class="relative flex flex-col bg-zinc-900 h-full w-full px-6">
        <header class="flex flex-row gap-4 pt-6 pb-32 z-20 mt-14">
            <div
                class="fixed right-0 top-4 md:lg:right-4 flex w-full md:lg:w-fit z-50 justify-center md:lg:justify-normal pl-6 pr-7">
                <div
                    class="w-full h-full flex bg-green-500 bg-opacity-30 md:lg:bg-opacity-0 py-4 rounded-md justify-center md:lg:justify-between gap-4">
                    <a
                        href="/"
                        class="m-auto w-12 h-12 rounded-full bg-green-500 flex justify-center items-center"
                        ><Back /></a
                    >
                    <a
                        href="/"
                        class="m-auto w-12 h-12 rounded-full bg-green-500 flex justify-center items-center text-black"
                        ><Home /></a
                    >
                </div>
            </div>

            <div
                class="md:lg:flex block md:lg:h-72 h-44 mb-36 md:lg:mb-0 w-full mt-8">
                <picture class="aspect-square md:lg:w-72 w-36 h-full flex-none">
                    <section class="overflow-hidden rounded-md">
                        <img
                            src={thumbnail}
                            class="object-cover w-full h-full shadow-2xl rounded-md transition-all duration-500 hover:scale-110"
                            draggable="false"
                            alt="Album cover"
                            loading="lazy"
                            transition:name={`playlist ${id} image`}
                        />
                    </section>

                    <div
                        class="flex gap-2 justify-center bg-green-400 items-center h-24 mt-4 rounded-md bg-opacity-30 md:lg:bg-opacity-0">
                        <CardPlayButton client:load id={id} size="large" />
                        <CardRemoveButton
                            client:load
                            id={id}
                            album={'1'}
                            size="large"
                        />
                    </div>
                </picture>
                <div
                    class="flex flex-col justify-center h-full md:lg:h-full sm:mx-4 mx-0 mt-20 md:lg:mt-0">
                    <section class="flex items-center flex-col">
                        <h2 class="self-start hidden md:lg:block text-2xl">
                            Canción
                        </h2>
                        <a href={trackLink} target="_blank" class="text-center">
                            <h1
                                class="md:lg:text-6xl text-6xl font-bold flex lg:md:justify-start justify-center text-white md:lg:hover:border-b-white border-b-2 border-b-transparent transition-all duration-200">
                                {titleSong}
                            </h1>
                        </a>
                    </section>

                    <div
                        class="text-sm text-gray-300 font-normal flex justify-center md:lg:justify-start w-full"
                        transition:name=`playlist ${id} artists`>
                        <!-- <span>{playlist?.artists.join(', ')}</span>-->
                        <h3 class="text-xl font-thin block text-white w-full">
                            <div
                                class="flex h-10 items-center gap-2 justify-center md:lg:w-fit sm:w-full my-4">
                                <img
                                    src={artistImg}
                                    alt=""
                                    class="w-10 h-10 rounded-full shadow-md hidden md:lg:block"
                                />
                                <span
                                    class="items-center justify-center w-full flex gap-2 my-4">
                                    <p
                                        class="md:lg:font-[400] text-white md:lg:text-xl text-xl font-bold flex justify-center w-full text-center">
                                        {artists}
                                    </p>
                                </span>
                            </div>
                            <div
                                class="flex gap-3 w-full md:lg:justify-start justify-center mt-4 font-medium">
                                <p
                                    class="bg-green-400 text-white rounded-full flex justify-center w-[30%] md:lg:w-[15%] bg-opacity-50 p-2 px-4">
                                    {getTimeSong(duration)}
                                </p>
                                <p
                                    class="bg-green-400 text-white rounded-full flex justify-center w-[30%] md:lg:w-[15%] bg-opacity-50 gap-1 p-2">
                                    <Rank />{rank}
                                </p>
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
            <img
                src={albumImg}
                class="absolute object-cover w-full h-[100dvh] shadow-lg -z-10 top-0 right-0 opacity-20 object-center"
                draggable="false"
                alt="Album cover"
                loading="lazy"
                style="mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 100%);"
            />
        </header>

        <div
            class="lg:w-[90%] md:sm:w-full h-max mt-[450px] md:lg:mt-0 md:lg:flex sm:block flex-col md:lg:flex-row md:lg:gap-8 flex-wrap justify-center">
            {
                artistsData.map((artist: any, _: any) => (
                    <div class="md:lg:w-[49%] sm:w-full h-[430px] flex-grow mt-6 md:lg:mt-0">
                        <div class="w-full h-full bg-opacity-50 bg-slate-500 rounded-xl flex flex-col relative group overflow-hidden z-20">
                            <img
                                src={artist.picture_xl}
                                alt="Artist Image"
                                draggable="false"
                                class="absolute object-cover w-full h-full shadow-lg top-0 right-0 opacity-50 object-center rounded-xl transition-all duration-1000 transform group-hover:scale-110"
                            />
                            <div class="ml-6 my-6 h-full">
                                <p class="relative z-10 font-bold md:lg:text-5xl text-4xl">
                                    <a
                                        href={artist.share}
                                        target="_blank"
                                        class="hover:border-b-2 hover:border-b-white border-b-2  border-b-transparent transition-all duration-200 font-[600] text-white ">
                                        {artist.name}
                                    </a>
                                </p>

                                <section class="w-full h-96 my-8 flex flex-col gap-8 relative overflow-scroll overflow-y-scroll">
                                    {tracksArtist.map((trackGroup) =>
                                        trackGroup.map(
                                            (track: any) => (
                                                console.log(track),
                                                (
                                                    <div
                                                        id={track.id}
                                                        class="w-full flex gap-4 items-center h-40 gorup">
                                                        <section class="md:lg:w-[10%] w-[30%] h-full overflow-hidden rounded-md track-image ">
                                                            <a
                                                                href={`/song/${track.id}`}
                                                                class="rounded-md">
                                                                <img
                                                                    src={`https://e-cdns-images.dzcdn.net/images/cover/${track.md5_image}/500x500.jpg`}
                                                                    draggable="false"
                                                                    class="rounded-md shadow-md h-full w-full object-cover transition-transform duration-300 group-hover:scale-110"
                                                                />
                                                            </a>
                                                        </section>
                                                        <section class="w-[70%] md:lg:w-[80%] h-full justify-center flex gap-2 flex-col relative overflow-hidden">
                                                            <a
                                                                href={`/song/${track.id}`}
                                                                class="w-fit md:lg:text-4xl text-xl font-bold z-50 hover:border-b-2 hover:border-b-white border-b-2  border-b-transparent transition-all duration-200">
                                                                {track.title}
                                                            </a>
                                                            <p class="flex flex-row w-full gap-4 truncate">
                                                                {
                                                                    track.artist
                                                                        .name
                                                                }
                                                                <span class="font-semibold">
                                                                    {getTimeSong(
                                                                        track.duration
                                                                    )}
                                                                </span>
                                                            </p>
                                                        </section>
                                                    </div>
                                                )
                                            )
                                        )
                                    )}
                                </section>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
        <Footer />
    </div>
</Layout>
